@import url(./__triangle/kaufman__triangle.css);
@import url(../table/table.css);
@import url(../table/_theme/table_theme_dark.css);
@import url(../section-title/_theme/section-title_theme_dark.css);
@import url(../section-subtitle/_theme/section-subtitle_theme_dark.css);


.kaufman {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #1f1f1f;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 90px;
  }