.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    height: 100%;
    text-decoration: none;
    color: #2f80ed;
    transition: opacity linear 0.5s;
  }
  
  .khan__buy-link:hover {
    opacity: 0.5;
  }